.message-box {
    margin: 20px auto -10px auto;
    padding: 15px;
    background-color: #e6f4fd;
    border: 2px solid #4CAF50;
    border-radius: 15px;
    color: #4CAF50;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 255, 9, 0.15);
    transition: opacity 0.5s ease-in-out;
  }
.message-box-Error {
  margin: 20px auto -10px auto;
  padding: 15px;
  background-color: #ff001e98;
  border: 2px solid #721c24;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.15);
  transition: opacity 0.5s ease-in-out;
  }
  