body {
  /* font-family: 'Quicksand', sans-serif; */
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.form-container {
  margin-top: 80px;
  background: white;
  border: 2px solid #1793d5;
  border-radius: 20px;
  padding: 30px;
  width: 1100px;
  box-shadow: 0 8px 20px rgba(33, 150, 243, 0.2);
  margin-bottom: 30px;
}

.form-container h2, .form-container h3 {
  text-align: center;
  color: #1793d5;
  margin-bottom: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #1793d5;
}

input, textarea {
  padding: 10px;
  border: 1.5px solid #bbdefb;
  border-radius: 10px;
  outline: none;
  background: #e3f2fd;
}

input:read-only, textarea:read-only {
  background-color: #e0e0e0;
  color: #555;
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

.full-width {
  grid-column: 1 / -1;
}

.button-row {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 25px;
}

button {
  background: #1793d5;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #1186c5;
}

/* .entrees {
  width: 1100px;
  background: white;
  border: 2px solid #1793d5;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(33, 150, 243, 0.2);
} */

.produits-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}

.produits-table thead {
  background-color: #e3f2fd;
}

.produits-table th {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #bbdefb;
  color: #1793d5;
}

.produits-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #bbdefb;
  color: black;
}

.produits-table tbody tr:nth-child(even) {
  background-color: #f5faff;
}
